* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.navbar_li:nth-child(3):hover .nav-down-img {
    transform: rotate(180deg);

}

@media(max-width:1200px) {
    .navbar_li {
        font-size: 20px;
    }

    .nav_list {
        gap: 25px;
    }
    .service-container{
        padding-inline: 7px;
    }
}

@media(max-width:1000px) {
    .navbar_li {
        font-size: 18px;
    }

    .nav_list {
        gap: 20px;
    }
    .service-container{
        padding-inline: 5px;
    }
    .nav-service-show{
        font-size: 19px;
    }

}

@media(max-width:700px) {
    .nav_list {
        flex-direction: column;
        position: absolute;
        height: calc(100vh - 64px);
        width: 100vw;
        top: 0px;
        background-color: #2C0955;
        gap: 30px;
        height: 100vh;
        transition: .5s;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 0px 0px;
    }

    .nav_list1 {
        right: -100%;
    }

    .nav_list2 {
        right: 0;
    }

    .navbar_li {
        font-size: 20px;
        font-weight: bold;
    }

    .navbar {
        position: relative;
    }

    .toogle-div {
        display: flex;
    }
    .service-container {
        display: none;
    }

}

@media(max-width:500px) {
    .navbar {
        padding-inline: 10px;
    }
}